# This is a basic workflow to help you get started with Actions

name: Update GitHub Gist with laftel-box

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  schedule:
    - cron: "0 0 * * *"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
      - run: yarn
      - name: Update watched history from laftel
        run: yarn start
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: ${{ secrets.GIST_ID }}
          LAFTEL_TOKEN: ${{ secrets.LAFTEL_TOKEN }}
          LAFTEL_UID: ${{ secrets.LAFTEL_UID }}
